@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    main {
        width: 80vw;
    }

    section#login{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    main > section#login > div#image {
        height: 100%;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }
    
}

@media screen and (min-width: 992px){
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    main {
        width: 890px;
    }
    section#login{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    section#login > div#image {
        order: 2;
    }

    section#login > div#form {
        order: 1;
    }

    main > section#login > div#image {
        height: 100%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;

    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1.2em;
    }
}